# Python
__pycache__/
*.py[codz]
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/

# Dataset videos 
data/dataset/
data/frames_cache/
data/metadata.csv
data/label_map.csv

# Saved model weights
saved_models/*.pth

# Training results
results/old stuff/

# Package transfer zips
pkg_transfer*/
*.zip
