# Python
__pycache__/
*.py[codz]
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/

# Dataset videos (too large for git)
data/dataset/
data/frames_cache/
data/metadata.csv
data/label_map.csv

# Saved model weights (upload to Google Drive instead)
saved_models/*.pth

# Training results
results/

# Package transfer zips
pkg_transfer*/
*.zip
